@media only screen and (max-width: 750px)
{
  .the_wrap .mobile_navi_wrap{
    display: block;
    margin-bottom: 15px;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
  }


  .mobild_navi_box{
    height: 0;
    -webkit-transition: all .6s linear;
    -moz-transition: all .6s linear;
    -ms-transition: all .6s linear;
    -o-transition: all .6s linear;
    transition: all .6s linear;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .show_box{
    height: 91px;
  }
  .the_wrap .mobile_navi_wrap .mobile_navi{
    padding-bottom: 10px;
    border-bottom:1px solid rgb(221, 221, 221);
  }

  .the_wrap .mobile_navi_wrap .mobile_navi li a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color:#999;
    text-decoration: none;
  }

  .mobile_menu_link{
    color:#999;
    cursor: pointer;
  }

  .the_wrap .header #logo {
    float: none !important;
  }
  .navigations {
    display: none; !important;
  }
}

.the_wrap{
  max-width: 1200px;
  padding:75px;
  margin:0 auto;
  font-family: "Helvetica Neue",Arial,sans-serif;
}
.mobile_navi_wrap{
  display: none;
}
.the_wrap .header{
  height:70px;
  width:100%;
  margin-bottom: 40px;
}
.the_wrap .header #logo{
  height:70px;
  float: left;
  text-align: center;
}
.the_wrap .header .logo a{
  line-height: 70px;
  font-size: 42px;
  text-decoration: none;
  color:#222;
  font-family: "Helvetica Neue",Arial,sans-serif;
  font-weight: bold;
}
.the_wrap .header .navi_list{
  float: right;
}
.the_wrap .header .navi_list li{
  height:70px;
  line-height: 70px;
  float: left;
  font-size: 13px;
  font-weight: 400;
}

.the_wrap .header .navi_list li a{
  text-decoration: none;
  text-align: center;
  color:#999;
  line-height: 30px;
  display: inline-block;
  padding: 20px 0;
  letter-spacing: 1px;
}

.the_wrap .header .navi_list li a:hover{
  color:#111;
}

.the_wrap .header .navi_list li.work{
  margin-right: 30px;
}