@media only screen and (max-width: 750px)
{

  body .the_wrap{
    padding:0 20px 20px;
  }
  body .the_wrap .content_wrap .about_img_wrap{
    float: none !important;
    width:100%;
  }
  body .the_wrap .content_wrap .about_info{
    float: none !important;
    width:100%;
    padding: 30px 0;
  }

  .work_cont .work_page{
    margin:0; !important;
  }
  .work_cont .work_info{
    margin: 0 auto 20px;
    width: auto !important;
    float: none !important;
  }
  .work_cont .work_page .img_list ul li img{
    width:100%;
  }

  .work_list_wrap .work_list .work_item{
    float: left;
    margin-left: 2.912621359223301%;
    margin-top: 3%;
    width: 47.0873786407767%;
    cursor: pointer;
  }

}

.the_wrap .header .navi_list li.work a{
  color:#111;
}



.the_wrap .work_list_wrap{
  width:103%;
  margin-left: -3%;
}
.work_list{
  width:100%;
}
.work_list .work_item{
  float: left;
  margin-left: 2.912621359223301%;
  margin-top: 3%;
  width: 30.420711974110034%;
  cursor: pointer;
  position: relative;
}

.work_list .work_item .img_wrap{
  width:100%;
  padding-top: 75%;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
}

.work_list .work_item:hover .work_mask{
  opacity: 1;
}

.work_mask{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.7);
  opacity: 0;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.work_title{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  font-weight: 400;
  font-style: normal;
  line-height: 1.6em;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  text-align: left;
  letter-spacing: .06em;
}

#work_cont_wrap{
  display: none;
}

.work_cont{
  padding: 50px 0;
  opacity: 1;
  position: relative;
}
.work_page{
  margin-right: 300px;
  min-height: 400px;
}
.img_list{
  display: block;
}
.img_list li{
  margin-bottom: 20px;
}
.img_list li img{
  width:80%;
  max-width: 800px;
  margin: 0 auto .5em;
  display: block;
}

.work_info{
  margin-right: -300px;
  width: 250px;
  float: right;
}

.info_title{
  color:#222;
  font-size: 20px;
  margin-bottom: 20px;
}

.work_description p{
  font-weight: 400;
  font-style: normal;
  line-height: 1.8em;
  font-size: 15px;
  text-transform: none;
  text-decoration: none;
  margin: 0 0 1em;
}

.project-controls .back{
  float: left;
  color: #333;
  cursor: pointer;
}
.project-controls .back:hover{
  color:#111;
}
.project-controls .word_navi{
  float: right;
  cursor: default;
}
.is_act{
  cursor: pointer;
}
.is_act:hover{
  color:#111;
}



.content_wrap{
  padding: 50px 0;
  opacity: 1;
}
.content_wrap .about_img_wrap{
  width:58.33%;
  float: left;
}
.content_wrap .about_img_wrap img{
  width:100%;
  cursor: pointer;
}

.content_wrap .about_info{
  float: right;
  width:33.3333%;
  padding:0 17px;
  box-sizing: border-box;
}
.block{
  width:5.33%;
  float: left;
  height:100px;
}
.content_wrap .about_info .info_title{
  font-size: 30px;
  color: #222;
  font-weight: bold;
  margin-bottom: 27px;
}
.content_wrap .about_info .info{
  word-wrap: break-word;
  font-size: 15px;
  line-height: 24px;
  color: #bfbfbf;
  margin-bottom: 12px;
  font-weight: 400;
}

.contract_wrap{
  margin-bottom: 50px;
}

.contract_wrap h3{
  color: #222;
  font-size: 15px;
  line-height: 27px;
  margin-bottom: 7px;
}
.contract_wrap h3 strong{
  font-weight: 700;
  font-size:15px;
}
.contract_wrap p{
  margin-bottom: 15px;
}

.contract_wrap p a{
  text-decoration: none;
  border-bottom:1px solid #111;
  border-color: rgba(17,17,17,.2);
  color:#111;
}
.contract_wrap p a:hover{
  border-color: #111;
}

